*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    
    body {
        font-family:'Times New Roman', Times, serif;
        margin: 0;
        background: #f4f4f4;
    }
  

    nav {
        display: flex;
        justify-content: left;
        background: #f1e6e6;
    }

    nav button {
        background: none;
        border: none;
        color: rgb(22, 21, 21);
        padding: 14px 20px;
        cursor: pointer;
        font-size: 16px;
    }

    nav button:hover {
        background: #555;
    }
.footwear-nav{
	background:rgb(230, 201, 205);
	font-family: 'Times New Roman', Times, serif;
	padding: 15px 15px;
	box-shadow: 0 5px 15px;
}
.footwear-nav-container{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.footwear-nav-links{
	display: flex;
	gap: 30px;
	align-items: center;
}
.footwear-nav-links a{
	color: black;
	background: rgb(230, 230, 230);
	padding: 5px 8px;
	border-radius: 15px;
	font-size: 14px;
	display: flex;
	align-items: center;
	gap: 3px;
	flex-direction: column;
	position: relative;	
}
.footwear-nav-links a:hover {
  background-color: #747173;
  color:black;
}

    .container {
        padding: 1px;
        
    }

    .products {
        display: grid;
        grid-template-columns: repeat(auto-fill,minmax(220px,1fr));
        gap: 20px;
        padding: 20px;
    }

    .product {
        background: white;
        padding: 15px;
        border-radius: 10px;
        text-align: center;
        box-shadow: 0 2px 5px rgba(0,0,0,0.1);
        box-sizing: border-box;
        height: 100%;
    }

    .product img {
        max-width: 100%;
        height: 180px;
        object-fit: cover;
        border-radius: 8px;
    }

    .product h3 {
        font-size: 16px;
        margin: 10px 0 5px;
    }

    .price {
        font-size: 14px;
        font-weight: bold;
        color: #e63946;
    }

    .buttons {
        margin-top: 10px;
    }

    .buttons button {
        padding: 8px 12px;
        margin: 5px 3px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    .buy {
        background: #007bff;
        color: white;
    }

    .cart {
        background: #28a745;
        color: white;
    }
    
  

